@use 'variables.scss' as var;

body {
    min-height: 100vh;
    //background-color: rgb(200, 50, 50);
    max-width: var.$body-width;
    margin: 0 auto;
}


main {
    background-color: rgba(50, 50, 200, 0);
    min-height: calc(100vh - var.$header-height - var.$footer-height);
}


